body {
    display: flex;
    transform-origin: 0px 0px 0px;
    overflow: hidden;
    position: relative;
    font-family: "微软雅黑";
}

.page-top {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
}

.page-title {
    font-size: 58px;
    color: #fdfeff;
    position: absolute;
    left: 62px;
    top: 30px;
    text-shadow: 0 0 5px #fbfbfb, 0 0 10px #fbfbfb, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 75px #228DFF;
}

.text-white-shadow {
    text-shadow: 0 0 5px #fbfbfb, 0 0 10px #fbfbfb, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 75px #228DFF;
}

.text-green-shadow {
    text-shadow: 0 0 5px #68fff3, 0 0 10px #68fff3, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 75px #228DFF;
}

.right-time {
    position: absolute;
    top: 30px;
    right: 55px;
    color: #fdfeff;
    font-size: 36px;
    text-shadow: 0 0 5px #fbfbfb, 0 0 10px #fbfbfb, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 75px #228DFF;
}

.right-time strong {
    font-size: 60px;
}

.top-mid {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 30px;
    width: 1650px;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 24px 20px 0;
    background: url(../../assets/images/common/top-center-bg.png) no-repeat top center;
    background-size: 100% 100%;
    transform: translate(-50%, 0);
    margin-left: -20px;
}

.top-mid-item {
    max-width: 33.33%;
    overflow: hidden;
    white-space: nowrap;
}

.top-mid .top-mid-item-name {
    font-size: 40px;
    color: #b4c7f9;
}

.top-mid .top-mid-item-name strong {
    font-size: 50px;
    color: #ff8244;
    font-weight: normal;
    margin: 0 10px;
}

.top-mid .top-mid-item-huanbi {
    font-size: 30px;
    color: #b4c7f9;
}

.top-mid .top-mid-item-huanbi strong {
    font-size: 40px;
    margin: 0 10px 0 36px;
    position: relative;
    display: inline-block;
}

.top-mid .top-mid-item-huanbi em {
    font-size: 30px;
}

.top-mid .top-mid-item-huanbi strong[data-state]:after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 26px;
    top: 14px;
    left: -30px;
}

.top-mid .top-mid-item-huanbi strong[data-state="up"] {
    color: #ff4444;
}

.top-mid .top-mid-item-huanbi strong[data-state="level"] {
    color: #b4c7f9;
}

.top-mid .top-mid-item-huanbi strong[data-state="down"] {
    color: #44ff86;
}

.top-mid .top-mid-item-huanbi strong[data-state="up"]:after {
    background: url(../../assets/images/common/huanbi-up.png) no-repeat;
}

.top-mid .top-mid-item-huanbi strong[data-state="down"]:after {
    background: url(../../assets/images/common/huanbi-down.png) no-repeat;
}